.git
.idea
.vscode
.venv
**/.DS_Store
**/node_modules
**/dist
**/build
report
docs
samples
scripts
*.pdf
*.pptx
**/*.log
.env
.env.*
!.env.example
frontend
coverage.out
coverage.html
allure-results
allure-report
docker-compose*.yml
