.idea
.env
.env.docker
*.gz
*.aux
*.toc
*.log
*.out
*.blg
*.bcf
*.bbl
*.xml

frontend/node_modules
frontend/dist
frontend/.env

coverage.out
coverage.html
test-results.json
allure-results/
allure-report/
